
# Gradle
.gradle/
**/build/
**/bin/

# IDE
.idea/
.vscode/

# Java
*.class
hs_err_pid*

# Logs
*.log

# Executáveis das ferramentas externas
tools/**/*.exe

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini